<p>
  {{clock | async}}
</p>
<div style='position: relative'>
  <div style='position: relative;background:red;height:100px;z-index:2;'></div>
  <div [@toggleDiv]='state' style='position: relative;background:yellow;height:100px;z-index:1;overflow: hidden;'>
    <!-- 自动计算的高度是计算子控件的 -->
    <div style='position: relative;background:green;height:50px;padding:25px'></div>
  </div>
  <div style='position: relative;background:black;height:100px;'></div>
</div>
<button (click)='toggle()'>toggle</button>
